<!-- <nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">MovieRama</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" [inputfocus]="search" name="search" [(ngModel)]="search" type="text">
      </form>
  </div>
</nav> -->
<nav class="navbar navbar-light bg-red justify-content-between">
    <a class="navbar-brand text-light">MovieRama</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2"  [inputfocus]="search" name="search" [(ngModel)]="search" placeholder="Search">
    </form>
  </nav>
<router-outlet></router-outlet>